
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 400px) {
  .container{
    width: 100%;
  }
}


@font-face{
  font-family: Nova;
  src: url('/assets/fonts/Bona_Nova_SC/BonaNovaSC-Regular.ttf');
}
@font-face{
  font-family: Raleway;
  src: url('/assets/font/Raleway/static/Raleway-Regular.ttf');
}
@font-face{
  font-family: Montserrat;
  src: url('/assets/font/Montserrat/static/Montserrat-Regular.ttf');
}